{{ define "map" }}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>{{.ID}} Preview</title>
    <meta
      name="viewport"
      content="initial-scale=1,maximum-scale=1,user-scalable=no"
    />
    <script src="{{.URL}}/map/static/index.js"></script>
    <link href="{{.URL}}/map/static/index.css" rel="stylesheet" />
    <style>
      body {
        margin: 0;
        padding: 0;
      }

      #map {
        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
      }
    </style>
  </head>

  <body>
    <div id="map"></div>
    <script>
      // Load raw JSON directly from template
      const tileJSON = {{.TileJSON}};

      const sources = {};
      const layers = [];

      if (tileJSON.vector_layers) {
        sources.overlay= {
          type: "vector",
          attribution: tileJSON.attribution || '',
          tiles: tileJSON.tiles,
          minzoom: tileJSON.minzoom,
          maxzoom: tileJSON.maxzoom
        }

        tileJSON.vector_layers.forEach(function(srcLyr, i) {
          layers.push({
            id: "overlay-poly-" + i,
            source: "overlay",
            "source-layer": srcLyr.id,
            filter: ["==", "$type", "Polygon"],
            type: "fill",
            paint: {
              "fill-color": "orange",
              "fill-opacity": 0.5,
              "fill-outline-color": "red"
            }
          });

          layers.push({
            id: "overlay-line-" + i,
            source: "overlay",
            "source-layer": srcLyr.id,
            filter: ["==", "$type", "LineString"],
            type: "line",
            paint: {
              "line-color": "red",
              "line-opacity": 0.75,
              "line-width": 2
            }
          });

          layers.push({
            id: "overlay-point-" + i,
            source: "overlay",
            "source-layer": srcLyr.id,
            filter: ["==", "$type", "Point"],
            type: "circle",
            paint: {
              "circle-radius": 6,
              "circle-color": "#F00",
              "circle-opacity": 1
            }
          });
        });
      } else {
        sources.overlay = {
          type: "raster",
          attribution: tileJSON.attribution || '',
          tiles: tileJSON.tiles,
          minzoom: tileJSON.minzoom,
          maxzoom: tileJSON.maxzoom
        }

        layers.push({
          id: "overlay-raster",
          source: "overlay",
          type: "raster"
        })
      }

      var center = tileJSON.center || [0, 0, tileJSON.minzoom]

      var map = new maplibregl.Map({
        container: "map",
        style: {
          version: 8,
          sources,
          layers
        },
        minZoom: tileJSON.minzoom,
        maxZoom: tileJSON.maxzoom,
        zoom: tileJSON.bounds ? 0 : center[2],
        center: center.slice(0, 2)
      });
      map.addControl(new maplibregl.NavigationControl());

      if (tileJSON.bounds) {
        var bounds = [
          tileJSON.bounds.slice(0, 2),
          tileJSON.bounds.slice(2, tileJSON.bounds.length)
        ];
        map.fitBounds(bounds);
      }
    </script>
  </body>
</html>
{{ end }}
