{{ define "map" }}
<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{.ID}} Preview</title>
    <link rel="icon" href="/favicon.png" sizes="32x32" type="image/png">
    <script src='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.js'></script>
    <link href='https://api.mapbox.com/mapbox.js/v2.4.0/mapbox.css' rel='stylesheet' />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
    <style>
        html {
            height: 100%;
        }
        body {
            margin: 0;
            padding: 0;
            height: 100%;
        }
        h4 {
            margin: 0;
        }
        #Map {
            position: absolute;
            top:36px;
            left:0;
            bottom:0;
            right:0;
            border-top: 2px solid #AAA;
        }
    </style>
</head>
<body>
    <div style="padding: 8px 10px;">
        <label style="margin-left: 20px;">Transparency: </label>
        <input id="Transparency" type="range" min="0" max="100" step="10" value="0" style="vertical-align: middle;"/>
    </div>
    <div id="Map"></div>
    <script>
        var basemap = L.tileLayer('http://server.arcgisonline.com/ArcGIS/rest/services/World_Terrain_Base/MapServer/tile/{z}/{y}/{x}', {
            attribution: 'Tiles &copy; Esri &mdash; Source: USGS, Esri, TANA, DeLorme, and NPS',
            maxZoom: 13
        });

        var layer = L.mapbox.tileLayer('{{.URL}}')
            .on('ready', function() {
                var b = this.getTileJSON().bounds;  // have to shuffle these to match leaflet format
                map.fitBounds([[b[1], b[0]], [b[3], b[2]]]);
            });

        var map = L.map('Map', {
            layers: [basemap, layer]
        });

        d3.select('#Transparency').on('change', function(){
            layer.setOpacity((100 - parseInt(d3.select('#Transparency').property('value'))) / 100.0);
        });

    </script>
</body>
</html>
{{ end }}